<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Panel manedżera</h1>
    Zarządzaj rezerwacjami <a href="/reservation_management" th:href="@{/reservation_management}">tutaj</a>
</div>
</body>
</html>