<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Zarządzaj rezerwacjami</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h2>Lista rezerwacji</h2>
    <table class="table" border="1">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <!--<th>Data od</th>-->
            <!--<th>Data do</th>-->
            <th scope="col">Użytkownik</th>
            <th scope="col">Zniżka</th>
            <th scope="col">Status Płatności</th>
            <th scope="col">Nr pokoju</th>
            <th scope="col">Status rezerwacji</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "reservation: ${reservations}">
            <td scope="row" th:text="${reservation.id}"></td>
            <td th:text="${reservation.name}"></td>
            <td th:text="${reservation.user.userName}"></td>
            <td th:text="${reservation.payment.znizka}"></td>
            <td th:text="${reservation.payment.status}"></td>
            <td th:text="${reservation.room.number}"></td>
            <td th:text="${reservation.status}"></td>
            <td><button>Wiecej informacji</button></td>
            <td th:if="${reservation.status == 'nie zaakceptowana'}"><button>Akceptuj</button></td>
            <td th:if="${reservation.status == 'nie zaakceptowana'}"><button>Odrzuc</button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>