<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Panel użytkownika</h1>
    Stworz nową rezerwacje <a href="/reservation-form" th:href="@{/reservation-form}">tutaj</a>
</div>
</body>
</html>