<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Zarezerwój pokój</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script>
        function getRooms() {
            var akademik = $("#akademik").val();
            $.get("/rooms?akademikId=" + akademik, function (data) {
                $("#room").empty();
                data.forEach(function(item, i) {
                    var option = "<option value = " + item.id + ">" + item.number +  "</option>";
                    $("#room").append(option);
                });
            })
        }
        $(document).ready(function() {
            $("#akademik").change(function() {
                getRooms();
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h2 class="text-center">Dokonaj rezerwacji</h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{/reservation}" th:object="${reservationWrapper}" method="post">
                <div th:if="${created}">
                    <div class="alert alert-success">
                        Rezerwacja stworzona oczekuje na akceptacje
                    </div>
                </div>
                <div class="form-group">
                    <label>Akademik</label>:
                    <select id="akademik"
                           th:field="*{akademik}">
                        <option value="">Wybierz akademik</option>
                        <option th:each="akademikF :${akademiki}"
                                th:value="${akademikF.id}"
                                th:utext="${akademikF.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Pokój</label>:
                    <select th:field="*{room}" id="room">
                    <option value="">Nr pokoju</option>
                    </select>
                </div>

                <!--<div class="form-group">-->
                    <!--<label for="password">Hasło</label>:-->
                    <!--<input type="password"-->
                           <!--id="password"-->
                           <!--name="password"-->
                           <!--class="form-control"-->
                           <!--placeholder="Hasło"-->
                           <!--th:field="*{password}">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="password">Powtórz haslo</label>:-->
                    <!--<input type="password"-->
                           <!--id="password2"-->
                           <!--name="password2"-->
                           <!--class="form-control"-->
                           <!--placeholder="Powtorz haslo"-->
                           <!--th:field="*{password2}">-->
                <!--</div>-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="reservation-submit"
                                   id="reservation-submit"
                                   class="form-control btn btn-info"
                                   value="Zarezerwuj">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>