<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a th:href="@{/}">O nas</a>
                </li>
                <li class="active">
                    <a th:href="@{/}">Regulamin</a>
                </li>
                <li class="active">
                    <a th:href="@{/}">Kontakt</a>
                </li>
                <li class="active">
                    <a th:href="@{/}">Kierownictwo</a>
                </li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</th:block>
</body>
</html>