<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/}">Strona główna</a>
                    </li>
                    <li class="active" ><a th:href="@{/logout}">Wyloguj się</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>