<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Zawartosc niedostepna</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Zawartosc niedostepna</h1>
    <p>Najprawdopodobniej nie masz odpowiednich uprawnien aby przegladac te strone</p>
    <p><a href="/" th:href="@{/}">Wroc do strony glownej</a></p>
</div>
</body>
</html>