<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="text-center">
    <h1>Strona domowa</h1><ul>
    <div>
        Witamy w naszym serwisie! <br>
        Nasz system umożliwia dokonywanie rezerwacji pokoi w akademikach. <br> <br>
        Jeśli odwiedzasz naszą stronę pierwszy raz, Zarejestruj się <a href="/registration" th:href="@{/registration}">tutaj</a>. <br>
        Jeśli zaś posiadasz już konto, zaloguj się aby stworzyć rezerwacje.<br>
        Kliknij <a href="/login" th:href="@{/login}">tutaj</a> aby się zalogować.
    </div>
    </ul>
</div>
</div>
</body>