<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Niepoprawna nazwa użytkownika lub hasło
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        Wylogowano pomyślnie
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Nazwa użytkownika</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Nazwa użytkownika">
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Hasło">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-info"
                                   value="Zaloguj">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center">
        <p>Nie masz jeszcze swojego konta? Zarejestruj się <a href="/registration" th:href="@{/registration}">tutaj</a></p>
        <p>Zapomniałeś hasła? Odzyskaj je <a href="/" th:href="@{/}">tutaj</a></p>
    </div>
</div>
</body>
</html>